# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/

# Rider
.idea/

# ASP.NET files
appsettings.Development.json

# NuGet
*.nupkg
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
